/* CSS variables for colors  */
:root {
  --text-color: #030380;
  --white-text: #ffffff;
  --dark-text: #000000;
  --white: #ffffff;
  --blue: #030380;
}

body {
  background-color: var(--white);
  font-family: sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

.CodeMirror {
  border-radius: 10px;
  font-size: 20px;
}

/* Navigation */
.navigation {
  grid-template-columns: 90px calc(100% - 180px) 90px;
  padding: 5px 19px;
  display: grid;
}

.navigation .right-side {
  text-align: right;
}

.navigation .right-side img {
  cursor: pointer;
  width: 80px;
}

.navigation .left-side img {
  height: 80px;
}

.navigation .center a {
  text-decoration: none;
  display: inline-block;
  color: var(--blue);
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}

.navigation .center a:hover {
  color: var(--dark-text);
}

@media only screen and (max-width: 800px) {
  .navigation > .left-side,
  .navigation > .right-side,
  .navigation > .center {
    text-align: center;
  }
  .navigation .center a {
    display: block;
  }
  .navigation {
    grid-template-columns: 100%;
  }
}

/* SPLASH */

.splash h1 {
  font-size: 40px;
  align-self: left;
  color: var(--white);
  text-align: center;
}
.splash h2 {
  font-size: 20px;
  align-self: left;
  color: var(--white);
  text-align: left;
}
.splash p {
  position: relative;
  font-size: 20px;
  color: var(--white);
}
.splash {
  background-color: var(--blue);
  padding: 10px 35px 25px 35px;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .splash {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* LUA */

.lua h1 {
  font-size: 40px;
  align-self: left;
  color: var(--dark-text);
  text-align: left;
}
.lua p {
  position: relative;
  font-size: 20px;
  color: var(--dark-text);
  /* padding-left: 50px; */
  padding-right: 50px;
}
.lua {
  background-color: var(--white);
  position: relative;
  padding: 50px 35px;
}

@media only screen and (max-width: 1000px) {
  .lua {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* FEATURES  */

.features {
  background: var(--blue);
  display: grid;
  place-items: center center;
}

.features h1 {
  font-size: 40px;
  align-self: left;
  color: var(--white-text);
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}

.card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  background-color: var(--white);
  border-radius: 20px;
}

.card .container {
  position: relative;
  padding-top: 20px;
}

.card .container img {
  padding-left: 20%;
  display: block;
  width: 60%;
}

.card .details {
  text-align: center;
  padding: 20px;
}

.card .details > h4 {
  color: var(--dark-text);
  margin: 10px 0 15px 0;
  font-weight: 600;
  font-size: 18px;
}

.card .details p {
  color: var(--dark-text);
  line-height: 20px;
  font-weight: 400;
  font-size: 15px;
}

/* Get Started  */

.get-started {
  background: var(--white);
  padding-bottom: 50px;
  position: relative;
  padding: 50px 35px;
}

.get-started h1 {
  font-size: 40px;
  align-self: left;
  color: var(--dark-text);
  text-align: left;
}

.get-started .content {
  grid-template-columns: 70% 30%;
  display: grid;
}

.get-started .content p {
  color: var(--dark-text);
  text-align: left;
  font-size: 20px;
}

.get-started .content img {
  transform: translate(-50%,-50%);
  position: relative;
  cursor: pointer;
  width: 80%;
  left: 50%;
  top:50%;
}

@media only screen and (max-width: 1000px) {
  .get-started .content{
    grid-template-columns: 100%;
  }
  .get-started {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* FOOTER  */

.footer {
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  background: black;
  padding: 20px 0;
  display: grid;
}

.footer .links {
  text-decoration: none;
  color: var(--white);
  text-align: center;
  font-size: 18px;
}

.footer .links:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .footer {
    grid-template-columns: 100%;
  }
}
